@model IEnumerable<Accentis.Database.Domain.Models.VenderMachine>
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="javascript:void(0)" class="btn btn-info btn-lg" id="OpenModel"> Add Product</a>
            <a href="javascript:void(0)" class="btn btn-info btn-lg" id="Reset"> Reset</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Product Name</td>
                        <td>Quantity</td>
                        <td>Per Item Price</td>
                        <td>Sold</td>
                        <td>Collection</td>
                    </tr>
                </thead>
                @foreach (var data in Model)
        {
            <tr>
                <td><a href="javascript:void(0)" class="UpdateProduct" productId="@data.ProductId"> @data.ProductName </a></td>
                <td>@data.Quantity</td>
                <td>@data.PerItemPrice</td>
                <td>@data.SoldQuantity</td>
                <td>@data.Collection</td>
            </tr>
}
            </table>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("AddEditProduct")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="AddEditProduct">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#OpenModel").click(function () {
            debugger
            $('#myModal').modal('show');
            $("#VenderProcduct")
                .find("input")
                .val('')
                .end()
        });
        $("#AddEditProduct").click(function () {
            var data = {
                ProductId: $("#ProductId").val(),
                ProductName: $("#ProductName").val(),
                Quantity: $("#Quantity").val(),
                PerItemPrice: $("#PerItemPrice").val()
            };
            $.ajax({
                url: "@Url.Action("AddEditProduct", "VenderMachine")",
                type: "POST",
                data: { venderMachine: data },
                success: function (data) { window.location.reload(); },
                error: function (error) { alert("Error"); }
            });
        });

        $(".UpdateProduct").click(function () {
            $('#myModal').modal('show');
            $.ajax({
                url: "@Url.Action("GetProduct", "VenderMachine")",
                type: "GET",
                data: { id: $(this).attr("productId") },
                success: function (data) {
                    $("#ProductId").val(data.Data.ProductId);
                    $("#ProductName").val(data.Data.ProductName);
                    $("#Quantity").val(data.Data.Quantity);
                    $("#PerItemPrice").val(data.Data.PerItemPrice);
                },
                error: function (error) { alert("Error"); }
            });
        });
        $("#Reset").click(function () {
            if (confirm("Are you sure want reset?")) {
                $.ajax({
                url: "@Url.Action("Reset", "VenderMachine")",
                type: "GET",
               // data: { id: $(this).attr("productId") },
                success: function (data) {
                    window.location.reload();
                },
                error: function (error) { alert("Error"); }
            });
            }
        });
    });
</script>